<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Show 2</h1>
    <form id="myform" action="/update">
    <input type="text" name="title">
    <input type="date" name="date">
    <textarea name="desc" form="myform" cols="30" rows="10"></textarea>
    <input type="submit" value="Update"></form>


</form>
</body>
</html>