<h1>Index Page</h1>
<h3>Create a User</h3>
<form action="/result" id="userform" method="post">
    Your Name: <input type="text" name="name"><br>
    Dojo Location: 
    <select name="location" form="userform">
        <option value="San Jose">San Jose</option>
        <option value="Burbank">Burbank</option>
    </select>
    <br>
    Favorite Language: 
    <select name="language" form="userform">
        <option value="C#">C#</option>
        <option value="Python">Python</option>
    </select>
    <br>
    Comment (optional):
    <textarea name="comment" form="userform"></textarea>
    <input type="submit" value='create user'>
</form>