#wrapper {
    height: 1000px;
    width: 800px;
    margin: 0px auto;
}

h1 {
    font-size:  24px;
    text-align: center;
}

#boxwrapper {
    height: 800px;
    width: 800px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    background-color: blue;
}