#wrapper {
    height: 1000px;
    width: 800px;
    margin: 0px auto;
    display: flex;
}

#h1 {
    font-size: 24px;

}

.box {
    height: 250px;
    width: 250px;
    justify-content: space-evenly;
    background-color: blue;
}