<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lit/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lit/bootstrap.min.css' %}">
    <script src="{% static 'lit/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lit/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <p>ID: {{author.id}}</p>
    <p>Notes: {{author.notes}}</p>
    <br>
    <br>
    <p>Authors:</p>
    <ul>
        {% for book in author.book.all %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
</body>
</html>