<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lit/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lit/bootstrap.min.css' %}">
    <script src="{% static 'lit/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lit/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>ID: {{book.id}}</p>
    <p>Description: {{book.desc}}</p>
    <br>
    <br>
    <p>Authors:</p>
    <ul>
        {% for author in book.authors.all %}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>
</body>
</html>