#wrapper {
    height: 900px;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
}

#form {
    width: 35%;
    height: 100%;
}

#table {
    width: 35%;
    height: 90%;
    margin-top: 10%;
}